<h1><%= @mensagem %> </h1>
<% t  = MailController.new %>
<table border=1>
    <% t.get_mails_id.each do |mail_id|
    headers = t.get_headers(mail_id)
    email = Mail.read_from_string t.get_mails(mail_id) %>

    <tr>
        <td>Mail ID: <%= mail_id %> </td>
        <td> Subject: <%= headers.subject %> </td>
        <td> Date: <%= headers.date %> </td>
    </tr>
    <tr>
        <td rowspan=2> From </td>
        <td colspan=2> Name: <%= headers.from[0].name %> </td>
    </tr>
    <tr>
        <td> Email: <%= headers.from[0].mailbox %>@<%= headers.from[0].host %>  </td>
        <td> Reply to: <%= headers.reply_to[0].mailbox %>@<%= headers.reply_to[0].host %>  </td>
    </tr>
    <tr>
        <td> Message </td>
        <td colspan=2> <%= email.text_part.body.to_s %>
    </tr>
    <% end %>
</table>