<p id="notice"><%= notice %></p>

<h1>Emails</h1>

<table>
  <thead>
    <tr>
      <th>Mail</th>
      <th>Subject</th>
      <th>Date</th>
      <th>From name</th>
      <th>From email</th>
      <th>From reply to</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.mail_id %></td>
        <td><%= email.subject %></td>
        <td><%= email.date %></td>
        <td><%= email.from_name %></td>
        <td><%= email.from_email %></td>
        <td><%= email.from_reply_to %></td>
        <td><%= email.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

