<p id="notice"><%= notice %></p>

<h1>Emails</h1>

<table border=1>
  <thead>
    <tr>
      <th>Mail</th>
      <th>Subject</th>
      <th>Date</th>
      <th>From name</th>
      <th>From email</th>
      <th>Message</th>
      <th>Satus</th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.id %></td>
        <td><%= email.subject %></td>
        <td><%= email.date %></td>
        <td><%= email.from_name %></td>
        <td><%= email.from_email %></td>
        <td><%= email.message %></td>
        <td><%= email.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p> <%= link_to "Buscar via IMAP", :controller => :mail_imap, :action => :recieve %>  </p>
<p> <%= link_to "Buscar via POP", :controller => :mail_pop, :action => :recieve %>  </p>
<p> <%= link_to "Responder email da fila", :action => :reply %>  </p>
<br>

